body {
    padding: 30px;
    font: 14px "Montserrat", Helvetica, Arial, sans-serif;
}

a {
    color: #369;
}

.ad-img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #aaa;
}